<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multipart form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white px-10 py-10">
        <h3 class="text-4xl mb-5">Update Profile picture</h3>
        <form class="flex flex-col" enctype="multipart/form-data" action="/upload" method="post">
            <input autocomplete="off" type="file" name="image">
            <input class="bg-blue-500 w-full h-10 px-5 mt-5 rounded-lg" type="submit" value="Upload File">
        </form>
    </div>
</body>
</html>